.navbar-custom {
    background-color: #ff8b2b;
}

img{
    width: 30%;
    height: auto;
}
.navbar-brand{
    font-family: "Bebas Neue";
    font-size: 2rem;
}

.nav-item {
    padding: 0 17px;
  }
  
.nav-link {
    font-size: 1.2rem;
    font-family: "Roboto Mono";
    font-weight: 100;
  }
   body{
    font-family: "Bebas Neue";
    color: grey;
   }

   #news-area{
       background-color: #ff8b2b;
   }

   .news-image {
    width: 60%;
    margin: auto;
    /* border-radius: 100%; */
    margin: 20px;
    text-align: center;
  }

  .news-text {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
    text-align: center;
  }

  .container{
    overflow-y: hidden;
  }
  .center{
    overflow: hidden;
    margin:auto;
    width:75%;
  }
  .clndr-previous-button,
 .clndr-next-button {
    cursor: pointer;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
  }

  .day{
    height:10vh;
  }
  .header-days {
    height: 30px;
    font-size: 15px;
    background: #ff8b2b;
  }

  .day:hover {
    background: #eee;
  }

  .today {
    background: #9AD6E3;
  }

  .today:hover {
    background: #72c6d8;
  }

.day.today.event {
    background: #a7dbc1;
  }

.day.event {
  background: #B4E09F;
}

.day.event:hover {
  background: #96d478;
}

.day.inactive{
  background: #ddd;
}

.empty,
.adjacent-month{

  background: #eee;
}

/* Previous matches*/
#matchesInfo.table{
  margin:auto;
}

.centerTable{
  margin: auto;
width: 50%;
}