#navBar{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#map {
  float: left;
  border-style: solid;
  border-color: black;
  border-width: 10px;
  width: 750px;
  height: 500px;
}
#feed {
  background-color: blue;
  border-style: solid;
  border-color: black;
  border-width: 10px;
  float: left;
  width: 250px;
  height: 500px;
}
#holder{
  display: flex;
  justify-content: center;
}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  font-family: Roboto;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
  position:absolute; top:0; right:0;
}
.clear {
  background-color: red;
  font-family: Roboto;
  width: 100px;
  height: 45px;
  border: none;
  color: white;
}


.fileInput {
  opacity: 1;
}

.fileInput{
  border: none;
  background-color: #4CAF50;
  color: white;
  font-family: Roboto;
  width: 100%;
  margin-bottom:5px;
  padding: 16px 20px;
  padding-bottom: 5px;
  padding-top: 5px;
}
body{
  background-color: #4CAF50;
}