.heading {
    text-align: center;
    border: 3px solid green;
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .search-loc {
      text-align: center;
      size: 30px;
  }

  .search-loc text {
    font-family: inherit;
  }

  body {
      background-color: rgb(198, 234, 198);
      font-family: "Montserrat", sans-serif;
      margin-left: 20px;
      margin-right: 20px
  }

  .search-loc input { 
      width: 15%;
      padding: 8px 12px;
      border-radius: 12px;
  }

  .search-loc button {
      font: black;
      background: lightgray;
      padding: 8px 12px;
      border-radius: 12px;
      transition-duration: 0.4s;
  }

  .search-loc button:hover {
    background-color: green;
    color: white;
  }

  .weather-display {
      text-align: center;
      margin: 15px 20px 25px;
  }

  .weather-and-time {
      padding-top: 10px;
      line-height: 80%;
      text-align: center;
      font: 25px;
  }

  .container {
    line-height: 1.8;
    list-style-type: none;
  }

  .weather-display .temp {
      font-size: 40px;
  }

  .weather-display .feels-like .description .humidity {
    font: 25px;
  }
  .current-city{
      text-align: center;
      padding-top: 12px;
      font: 25px;
  }

  .weather-display img {
      max-width: 500px;
  }

  .description {
    text-transform: capitalize;
  }

  .detectLoc {
    padding: 10px;
  }